
.section001 {
    background-image: url("../assets/machineryParks/image001.jpg");
    max-width: 100%;
    height: 340px;
    align-content: end;
}
.section001Div {
    background-color: white;
    width: 240px;
    height: 220px;
}
.section002 {
    margin: 100px 0;
}
.sectin003 {
    margin: 100px 0;
}